<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOOPIND Statements</title>
    <center>
        <h1>Only ForLoop can Use in this Jinja Tages</h1>
            <h1>In This Forloop using Only CDT only..,We can't use Range With CDT</h1>
            <h1>Forloop Statments</h1>
            <h1>{{Name}}</h1>
                {% for i in Name %}
                    <h1>{{i}}</h1>
                {% endfor %}
    </center>
</head>
<body>
    
</body>
</html>